_addons/Aldi_Scraper_SEND.json
{
  "name": "Aldi_Scraper_SEND",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        352
      ],
      "id": "a0d351cd-c15d-4921-aa75-970e76fe10f6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "aldi_store_full_address",
        "returnAll": true,
        "filterType": "string"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        352
      ],
      "id": "fe506c6a-49b8-49ea-aa21-a61a105a09d0",
      "name": "Address DB",
      "credentials": {
        "supabaseApi": {
          "id": "SfY8xhRI6kLVG6OJ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('define variables').item.json.agent_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "store_id",
              "value": "={{ $json.store_id }}"
            },
            {
              "name": "address",
              "value": "={{ $json.full_address }}"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('define variables').item.json.webhook_url }}"
            },
            {
              "name": "broadband_type",
              "value": "={{ $('define variables').item.json.broadband_type }}"
            }
          ]
        },
        "options": {
          "timeout": 1200000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        48,
        368
      ],
      "id": "d2a3f40c-1c46-4174-b8d4-1dcbdd2a7a25",
      "name": "Post to Agents"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fea15b1-2c7a-4426-a95d-159b3c0f802d",
              "name": "broadband_type",
              "value": "fixed",
              "type": "string"
            },
            {
              "id": "cb89aa85-4fde-4f79-b937-150dbb3fa0fb",
              "name": "webhook_url",
              "value": "http://192.168.178.87:5678/webhook/fcc-results",
              "type": "string"
            },
            {
              "id": "a44166ff-2d2c-4a10-9825-bc814acdfa46",
              "name": "agent_url",
              "value": "http://192.168.178.87:8000/api/v1/fcc_agent_bluecollar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        352
      ],
      "id": "8e5cc93c-edcf-4713-8faa-986adcffaca1",
      "name": "define variables"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        352
      ],
      "id": "dabb44da-520e-4719-8dc4-169da20cf152",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"aldi-adressen\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -528,
        864
      ],
      "id": "e4da5e54-efe3-48f9-b1a3-e1e7bca732e0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      \"aldi-adressen\": [\n          {\n            \"store_id\": 2714,\n            \"full_address\": \"238 Boston Post Road Milford, CT 06460\",\n            \"lat\": 41.22166,\n            \"lon\": -73.07436\n          },\n          {\n            \"store_id\": 2653,\n            \"full_address\": \"500 Lincoln Street Worcester, MA 01605\",\n            \"lat\": 42.29489,\n            \"lon\": -71.77442\n          }\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        864
      ],
      "id": "f4ee1631-49aa-413a-aef3-793e6c68a252",
      "name": "Adresses1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('define variables').item.json.agent_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "store_id",
              "value": "={{ $json.store_id }}"
            },
            {
              "name": "address",
              "value": "={{ $json.full_address }}"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('define variables').item.json.webhook_url }}"
            },
            {
              "name": "=broadband_type",
              "value": "={{ $('define variables').item.json.broadband_type }}"
            }
          ]
        },
        "options": {
          "timeout": 1200000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        864
      ],
      "id": "b487cc0b-8279-4df1-9ac0-19b80cb2ea70",
      "name": "Post to Agents1"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        368
      ],
      "id": "59d0640a-853c-4c79-8c15-fb2992c91e64",
      "name": "Wait 120s",
      "webhookId": "04b23d3a-aff8-4118-907e-f8ffec657cee"
    },
    {
      "parameters": {
        "chatId": "28266848",
        "text": "=N8N Aldi Scraper: All adresses provided",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        208
      ],
      "id": "08212278-8689-4ebf-a1b8-9a5f9f0998a5",
      "name": "Final Message BOT",
      "webhookId": "83acf131-06d7-490e-be64-e593b51ea4e4",
      "credentials": {
        "telegramApi": {
          "id": "chlrQXfHHv3lSCYA",
          "name": "Telegram n8nBOT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "define variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address DB": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Agents": {
      "main": [
        [
          {
            "node": "Wait 120s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define variables": {
      "main": [
        [
          {
            "node": "Address DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Final Message BOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adresses1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Post to Agents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 120s": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d1b97a18-a0e8-40cb-be34-551ec0195411",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eed07403ff061a7b72a98b1847efe83417182ad192b6d88a40f7f2b86bd45bf3"
  },
  "id": "lJQ571QOtHlth2FX",
  "tags": []
}