V3-0/Additions/Aldi_Scraper_RETURN(1).json
{
  "name": "Aldi_Scraper_RETURN",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "body.usage.duration_seconds, body.store_id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        32,
        -224
      ],
      "id": "abab42c6-b5a2-4b6d-b6dc-2ed021db8a69",
      "name": "Split-Out Costs"
    },
    {
      "parameters": {
        "tableId": "usage_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json[\"body.store_id\"] }}"
            },
            {
              "fieldId": "duration_sec",
              "fieldValue": "={{ $json[\"body.usage.duration_seconds\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        -224
      ],
      "id": "f6041e90-578c-4eb0-98dd-845959877086",
      "name": "Add Costs to Database",
      "credentials": {
        "supabaseApi": {
          "id": "EmCdM1jj8dgy9DlU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fcc-results",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        -240
      ],
      "id": "ab6d1b82-7757-4c1a-b81c-143a5bc47df3",
      "name": "Webhook",
      "webhookId": "b57913ad-a1ce-45ad-ab12-d2c319aa206b"
    },
    {
      "parameters": {
        "tableId": "webhook_log_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json.data[0].store_id }}"
            },
            {
              "fieldId": "log_message",
              "fieldValue": "=succses"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        160
      ],
      "id": "63ccf502-76bd-4804-a5fa-90e784164b3f",
      "name": "Success",
      "credentials": {
        "supabaseApi": {
          "id": "EmCdM1jj8dgy9DlU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "28266848",
        "text": "=N8N Aldi Scraper: Site-ID: Error BB {{ $json.store_id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        -448
      ],
      "id": "58227c6f-df3c-4769-a05d-3cde27f20fbd",
      "name": "Error Message BOT",
      "webhookId": "83acf131-06d7-490e-be64-e593b51ea4e4",
      "credentials": {
        "telegramApi": {
          "id": "m9v5XUOir9vYSUP6",
          "name": "N8NStatusBOT"
        }
      }
    },
    {
      "parameters": {
        "tableId": "webhook_log_data",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json.body.store_id }}"
            },
            {
              "fieldId": "log_message",
              "fieldValue": "error BB"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        48,
        -448
      ],
      "id": "b1db88b5-0973-4417-ad75-19a91d03c39c",
      "name": "Error in DB",
      "credentials": {
        "supabaseApi": {
          "id": "EmCdM1jj8dgy9DlU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.store_id, body.address, body.providers",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        32,
        -32
      ],
      "id": "e43b7ece-cf39-40f2-9f90-8b37788e5dd3",
      "name": "Split Out Provider",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "mobile_broadband_mapping_us_duplicate",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.address }}"
            },
            {
              "fieldId": "provider_name",
              "fieldValue": "={{ $json.provider }}"
            },
            {
              "fieldId": "3g",
              "fieldValue": "={{ $json[\"3g\"] }}"
            },
            {
              "fieldId": "4g_lte",
              "fieldValue": "={{ $json[\"4g_lte\"] }}"
            },
            {
              "fieldId": "5g_nr",
              "fieldValue": "={{ $json[\"5g_nr\"] }}"
            },
            {
              "fieldId": "provider_short",
              "fieldValue": "={{ $json.provider_short }}"
            },
            {
              "fieldId": "store_id",
              "fieldValue": "={{ $json.store_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        608,
        -32
      ],
      "id": "a3aa8915-89d6-45c6-a7fa-88d844a5b715",
      "name": "Add Provider to Database",
      "credentials": {
        "supabaseApi": {
          "id": "EmCdM1jj8dgy9DlU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "={{ $json.store_id }}",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        160
      ],
      "id": "78b198c8-8e34-425d-96d7-3b6fd0b0a2e0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\n// Gehe durch alle eingehenden Items\nfor (const item of $input.all()) {\n    \n    // Zugriff über die flachen Key-Namen\n    const address = item.json[\"body.address\"];\n    const store_id = item.json[\"body.store_id\"];\n    const tableString = item.json[\"body.providers\"];\n\n    // Wenn der Tabellen-String nicht existiert oder kein String ist, überspringen\n    if (!tableString || typeof tableString !== 'string') continue;\n\n    // String in einzelne Zeilen aufteilen\n    const rows = tableString.split('\\n');\n\n    // Wir starten bei Index 2 (Kopfzeile und Trenner überspringen)\n    for (let i = 2; i < rows.length; i++) {\n        const row = rows[i].trim();\n        if (!row || row === \"\") continue; \n\n        // Zeile bei '|' trennen und säubern\n        const columns = row.split('|').map(col => {\n            let text = col.trim();\n            // Ersetzt den Filter-Text durch \"yes \"\n            return text.replaceAll(\"Click to filter map by provider\", \"yes \");\n        });\n\n        // Prüfung der Spaltenanzahl\n        if (columns.length >= 6) {\n            \n            // --- NEUER TEIL: Provider Short Name generieren ---\n            let providerFull = columns[1] || \"\"; \n            let providerShort = providerFull;\n            \n            // Wenn \" Holding Company\" im String existiert, abschneiden\n            if (providerFull.includes(\" Holding Company\")) {\n                providerShort = providerFull.split(\" Holding Company\")[0].trim();\n            }\n            // ----------------------------------------------------\n\n            result.push({\n                json: {\n                    address: address,\n                    store_id: store_id,\n                    provider: providerFull,        // Der ursprüngliche, lange Name\n                    provider_short: providerShort, // Der neue, gekürzte Name\n                    \"3g\": columns[2],\n                    \"4g_lte\": columns[3],\n                    \"5g_nr\": columns[4],\n                    requests: columns[5]\n                }\n            });\n        }\n    }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -32
      ],
      "id": "9d7a2182-01d0-458a-a44c-b9fd0ea0dda6",
      "name": "Prepare Provider"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e9df084b-b2ff-4994-ae1a-ab59c178e4d6",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        -240
      ],
      "id": "5ebca2a2-1b21-4b79-a497-f6bf197963ac",
      "name": "True/False BB"
    },
    {
      "parameters": {
        "jsCode": "// Überprüft, ob die Provider-Tabelle leer ist\nreturn $input.all().map(item => {\n  // WICHTIG: Hier greifen wir auf das verschachtelte Objekt zu (body -> providers)\n  // Das ?. (Optional Chaining) schützt vor Fehlern, falls \"body\" mal komplett fehlt\n  const p = item.json.body?.providers;\n  \n  return {\n    json: {\n      // Kopiert alle ursprünglichen Felder\n      ...item.json, \n      \n      // True, wenn leer, null, nicht vorhanden oder leeres Array. False, wenn Daten da sind.\n      error: !p || (Array.isArray(p) && p.length === 0) || p === \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -240
      ],
      "id": "334c88b5-ce28-45f8-b2bf-52c86122c10e",
      "name": "Check Provider"
    }
  ],
  "pinData": {},
  "connections": {
    "Split-Out Costs": {
      "main": [
        [
          {
            "node": "Add Costs to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Costs to Database": {
      "main": [
        []
      ]
    },
    "Error in DB": {
      "main": [
        [
          {
            "node": "Error Message BOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Provider": {
      "main": [
        [
          {
            "node": "Prepare Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Provider to Database": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Provider": {
      "main": [
        [
          {
            "node": "Add Provider to Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True/False BB": {
      "main": [
        [
          {
            "node": "Error in DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split-Out Costs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out Provider",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split-Out Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Provider": {
      "main": [
        [
          {
            "node": "True/False BB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1b7ef5c0-9906-45f4-a173-b22bfcb75c84",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1f9e42091bc1f7c3a7d862151f00eab7a1889cef9a4b9159fa9cf83ad05e098"
  },
  "id": "8J9YSOk5vvna8Hmn",
  "tags": []
}