V3-0/Additions/Aldi_Scraper_SEND(1).json
{
  "name": "Aldi_Scraper_SEND",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1984,
        128
      ],
      "id": "618764a8-00ca-4f92-b892-42740b897a32",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "aldi_store_full_address",
        "filterType": "string"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1568,
        128
      ],
      "id": "b2150c1b-4e8d-4c89-af87-ffcd2fbaf010",
      "name": "Address DB",
      "credentials": {
        "supabaseApi": {
          "id": "EmCdM1jj8dgy9DlU",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -720,
        144
      ],
      "id": "b7d026b5-d204-403b-acb1-4906d585a93d",
      "name": "Wait",
      "webhookId": "04b23d3a-aff8-4118-907e-f8ffec657cee"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('define variables').item.json.agent_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "store_id",
              "value": "={{ $json.store_id }}"
            },
            {
              "name": "address",
              "value": "={{ $json.full_address }}"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            },
            {
              "name": "webhook_url",
              "value": "={{ $('define variables').item.json.webhook_url }}"
            }
          ]
        },
        "options": {
          "timeout": 1200000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1136,
        144
      ],
      "id": "a4220906-177f-4def-8089-df6f60fc0809",
      "name": "Post to Agents"
    },
    {
      "parameters": {
        "chatId": "28266848",
        "text": "=N8N Aldi Scraper: All adresses provided",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -976,
        -96
      ],
      "id": "bb841674-1ca5-4cf5-a8c0-7675f6832b17",
      "name": "Final  Message BOT",
      "webhookId": "83acf131-06d7-490e-be64-e593b51ea4e4",
      "credentials": {
        "telegramApi": {
          "id": "m9v5XUOir9vYSUP6",
          "name": "N8NStatusBOT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fea15b1-2c7a-4426-a95d-159b3c0f802d",
              "name": "broadband_type",
              "value": "mobile",
              "type": "string"
            },
            {
              "id": "cb89aa85-4fde-4f79-b937-150dbb3fa0fb",
              "name": "webhook_url",
              "value": "http://10.20.53.83:5678/webhook/fcc-results",
              "type": "string"
            },
            {
              "id": "a44166ff-2d2c-4a10-9825-bc814acdfa46",
              "name": "agent_url",
              "value": "http://10.20.53.83:8000/api/v1/fcc_agent_bluecollar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        128
      ],
      "id": "2531590f-49e1-4dc4-9e38-41914004cbde",
      "name": "define variables"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1344,
        128
      ],
      "id": "ef307be0-9562-457e-868f-ea6a2e6a5c7e",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "define variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address DB": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Agents": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "define variables": {
      "main": [
        [
          {
            "node": "Address DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Final  Message BOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f7140565-df0f-431b-b1b1-65d7a8bb08cf",
  "meta": {
    "instanceId": "e1f9e42091bc1f7c3a7d862151f00eab7a1889cef9a4b9159fa9cf83ad05e098"
  },
  "id": "cPiFjGqHBfYSsOoz",
  "tags": []
}